<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/view/style/configFormStyle.css">
</head>
<body>
<main>
    <div class="configure-form js-form">
        <form @submit.capture="onSubmit" class="configure-form__form" action="/view/html/result.php" method="post">
            <div class="configure-form__body">
                <h1 class="configure-form__title">Выберите конфигурацию сревера</h1>
                <div class="configure-form__item">
                    <label class="configure-form__label" for="configure-form-proc">Процессор</label>
                    <select class="configure-form__input"
                            id="configure-form-proc"
                            v-model="selectedProcessor"
                            name="processor">
                        <option v-for="(row, index) in processors" v-bind:value="JSON.stringify(row)">{{ row.name }}</option>
                    </select>
                </div>

                <div class="configure-form__item">
                    <label class="configure-form__label" for="configure-form-memory">Память</label>
                    <select class="configure-form__input" id="configure-form-memory" v-model="selectedMemory"
                            name="memory">
                        <option v-for="(row, index) in memory" v-bind:value="JSON.stringify(row)">{{ row.name }}</option>
                    </select>
                </div>

                <div class="configure-form__item">
                    <label class="configure-form__label" for="configure-form-drive">Диск</label>
                    <select class="configure-form__input" id="configure-form-drive" v-model="selectedDrive"
                            name="drive">
                        <option v-for="(row, index) in drives" v-bind:value="JSON.stringify(row)">{{ row.name }}</option>
                    </select>
                </div>

                <div class="configure-form__item">
                    <label class="configure-form__label" for="configure-form-motherboard">Материнская плата</label>
                    <select class="configure-form__input" id="configure-form-motherboard" v-model="selectedMotherboard"
                            name="motherboard">
                        <option v-for="(row, index) in motherboards" v-bind:value="JSON.stringify(row)">{{ row.name }}</option>
                    </select>
                </div>


                <div class="configure-form__item">
                    <label class="configure-form__label" for="configure-form-case">Корпус</label>
                    <select class="configure-form__input" id="configure-form-case" v-model="selectedCase" name="case">
                        <option v-for="(row, index) in cases" v-bind:value="JSON.stringify(row)">{{ row.name }}</option>
                    </select>
                </div>

                <div class="configure-form__item">
                    <label class="configure-form__label">
                        Стоимость:
                        {{
                            selectedProcessor.cost + selectedMemory.cost + selectedDrive.cost + selectedMotherboard.cost + selectedCase.cost
                        }}
                        руб.
                    </label>
                </div>
            </div>

            <button class="configure-form__form-item-input" type="submit">К результату</button>
        </form>
    </div>
    <script src="/view/js/configureFormHandler.js"></script>
</main>
</body>
</html>